*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.centered {
    text-align: center;
}

body{
    background-color: rgb(85, 84, 84);
}

header
{
    background-image: url(nubes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}

.encabezado{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.galeria {
   max-width: 1200px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 250px;
   grid-gap: 20px;
   padding: 100px 0;
}
.imagen:hover {
    
    filter: opacity(0.9);
    transform: scale(1.04);
}

.imagen{
    transition: transform 0.3s ease-in-out;
}
.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagen :nth-child(1){
    grid-column-start: span 2;
}

.imagen :nth-child(4){
    grid-column-start: span 2;
}

@media(max-width:991px) {
    .galeria{
        padding: 30px;
        grid-template-columns: repeat(1, 1fr);
    }

    .imagen:nth-child(1){
        grid-column-start: span;
    }
    .imagen:nth-child(4){
        grid-column-start: span;
    }
}